<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
    <title>{{title}}</title>
</head>
<script type="text/javascript">
	console.log(window.location.pathname);
</script>

<body>
	<h1>Currency Converter</h1>
	<p>{{rate}}</p>
</body>

	{{> footer}}

</html>