<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
    <title>{{title}}</title>
</head>

<body>
	<h1>Home</h1>
	<p><a href="/info">About Me</a> <a href="/currency">Currency Convert</a></p>
</body>

	{{> footer}}

</html>